{% extends 'base.html.twig' %}

{% block title %} Shop {% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            text-align: center;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px
        }

    </style>

    <div class="example-wrapper">

        <h1>{% trans %}Register page{% endtrans %}:</h1>
        {% for message in app.flashes('error') %}
            <div class="flash-error">
                <span class="error text-danger"> {{ message }} </span>
            </div>
        {% endfor %}

        {% if error %}
            <span class="error text-danger"> {{ error.messageKey }} </span>
        {% endif %}
        <div id="form">
            {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
            {{ form_row(form.username, {
                'label' : 'Username',
                attr : {
                    class: 'foo',
                },
                placeholder: 'Select yoo'
            }) }}

            {#{{ dump(form.username.vars) }}#}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
        </div>
        <button type="submit" class="btn btn-success">{% trans %}Register{% endtrans %}!</button>
            {{ form_end(form) }}
        {#form end musi być po submicie!!! inaczej nie działa button send#}
    </div>
{% endblock %}