{% extends 'base.html.twig' %}

{% block title %} Admin {% endblock %}

{% block body %}
    <h1> {% trans  %} Hello  {% endtrans %} {{ app.user.username }}</h1>
    {% if orders %}
        <table id="orders" class="table table striped">

            <form method="get" action="{{ path('admin_results') }}">
                <a>Search by user:</a>
                <input type="text" name="q">
                <input type="submit" value="Search" class="btn btn-dark">
            </form>

            <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>User</th>
                {% endif %}
                <th>{% trans %}Order{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Comment</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.name }}</td>
                    <td>{{ order.orderName }}</td>
                    <td>
                        <a href="/order/{{ order.id }}" class="btn btn-dark">{% trans %}Show{% endtrans %}</a>
                        <a href="/admin/edit/{{ order.id }}" class="btn btn-light">{% trans %}Edit{% endtrans %}</a>
                        <a href="#" class="btn btn-danger delete-order" data-id="{{ order.id }}">{% trans %}Delete{% endtrans %}</a>
                    </td>
                    <td>{{ order.comment }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans %} No orders to display {% endtrans %}</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}
