{% extends 'base.html.twig' %}

{% block title %} Shop {% endblock %}

{% block body %}
    <hr>
    <h1> {% trans  %} Hello  {% endtrans %} {{ app.user.username }}</h1>
    {% if orders %}
        {#{% set totalPrice=0 %}#}
        <div class="slideInUp">
            <table id="orders" class="table table striped">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(orders, 'Order', 'o.orderName') }}</th>
                    <th>{{ knp_pagination_sortable(orders, 'Date', 'o.date') }}</th>
                    <th>{{ knp_pagination_sortable(orders, 'Price', 'o.price') }}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.orderName }}</td>
                        <td>{{ order.date| date('Y-m-d H:i:s') }}</td>
                        <td>{{ order.price }} {{ currency }}</td>
                        <td>
                            <a href="/order/{{ order.id }}" class="btn btn-dark">{% trans %}Show{% endtrans %}</a>
                            <a href="/order/edit/{{ order.id }}" class="btn btn-light">{% trans %}Edit{% endtrans %}</a>
                            <a href="#" class="btn btn-danger delete-order" data-id="{{ order.id }}">{% trans %}Delete{% endtrans %}</a>
                        </td>
                    </tr>
                        {#{% set totalPrice = totalPrice + order.price %}#}
                {% endfor %}

                <h4>{% trans %}Total{% endtrans %}:</h4>
                {% if totalPrice is defined %}
                {% if currency is defined %}
                    <h5 class="text-success">{{ totalPrice }} {{ currency }}</h5>
                {% endif %}
                {% endif %}
                {#{% if app.request.getLocale() is same as ('en_EN') or app.request.getLocale() is same as ('en') %}#}
                {#<h5 class="text-success">{{ totalPrice }} $</h5>#}
                {#{% endif %}#}
                {#{% if app.request.getLocale() is same as('pl_PL') or app.request.getLocale() is same as ('pl') %}#}
                        {#{% set totalPrice = totalPrice * 4 %}#}
                    {#<h5 class="text-success">{{ totalPrice }} PLN</h5>#}
                {#{% endif %}#}
                </tbody>
                {{ knp_pagination_render(orders) }}

            </table>
        </div>
    {% else %}
        <p>{% trans %} No orders to display {% endtrans %}</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="js/main.js"></script>
{% endblock %}
