{% extends 'base.html.twig' %}

{% block title %} Shop {% endblock %}

{% block body %}
    <h1> {% trans  %} Hello  {% endtrans %} {{ app.user.username }}</h1>
    {% if orders %}
        <table id="orders" class="table table striped">
            <thead>
            <tr>
                <th>{% trans %}Order{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.orderName }}</td>
                    <td>
                        <a href="/order/{{ order.id }}" class="btn btn-dark">{% trans %}Show{% endtrans %}</a>
                        <a href="/order/edit/{{ order.id }}" class="btn btn-light">{% trans %}Edit{% endtrans %}</a>
                        <a href="#" class="btn btn-danger delete-order" data-id="{{ order.id }}">{% trans %}Delete{% endtrans %}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans %} No orders to display {% endtrans %}</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}
