{% extends 'base.html.twig' %}

{% block title %} {{ order.name }} {% endblock %}

{% block body %}
    <h1>{% trans %}Order name{% endtrans %}: {{ order.orderName }}</h1>
    <p>cpu: {{ order.cpu }}</p>
    <p>ram: {{ order.ram }}</p>
    <p>{% trans %}drive{% endtrans %}: {{ order.drive }}</p>
    <p>{% trans %}screen{% endtrans %}: {{ order.screen }}</p>
    <p class="text text-success">{% trans %}price{% endtrans %}: {{ orderPrice }} {{ currency }}</p>
    <p>{% trans %}order date{% endtrans %}: {{ order.date|date('Y-m-d H:i:s') }}</p>
    <hr>
    <a href="/">{% trans %}Go Back{% endtrans %}</a>
{% endblock %}
